force-app/main/default/flows/create_contact_based_on_Emp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_three_contact_ids</name>
        <label>Assign three contact ids</label>
        <locationX>1546</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>ContactsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterate_contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>increment_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_three_contact_ids</name>
        <label>Copy 1 of Assign three contact ids</label>
        <locationX>1810</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>ContactsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterate_contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>count</name>
        <label>count</label>
        <locationX>952</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>storeContactdata</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_less_than_or_greather_than</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>increment_Count</name>
        <label>Increment Count</label>
        <locationX>1546</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>count2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Count1</name>
        <label>Increment Count1</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>count1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Counter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Counter</name>
        <label>Check Counter</label>
        <locationX>886</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Counter_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NumberOfEmployees</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NumberOfEmployees</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_contact</targetReference>
            </connector>
            <label>Check Counter check</label>
        </rules>
        <rules>
            <name>Emplyee_number_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NumberOfEmployees</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_contacts</targetReference>
            </connector>
            <label>Emplyee number changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_less_than_or_greather_than</name>
        <label>check less than or greather than</label>
        <locationX>952</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>iterate_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>greather_than</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>storeContactdata</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.NumberOfEmployees</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_check</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>greather than</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_check</name>
        <label>Update check</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Update_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count1</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.NumberOfEmployees</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_contacts</targetReference>
            </connector>
            <label>Outcome 1 of Update check</label>
        </rules>
    </decisions>
    <decisions>
        <name>zero1</name>
        <label>zero 1</label>
        <locationX>1810</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>iterate_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_Decision_logic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count2</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>count1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>count2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_three_contact_ids</targetReference>
            </connector>
            <label>Delete Decision logic</label>
        </rules>
        <rules>
            <name>zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_three_contact_ids</targetReference>
            </connector>
            <label>zero</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>create contact based on Emp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create contact based on Emp</label>
    <loops>
        <name>iterate_contact</name>
        <label>iterate contact</label>
        <locationX>1458</locationX>
        <locationY>755</locationY>
        <collectionReference>get_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>zero1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Deletion_of_Three_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_contact</name>
        <label>Create a contact</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Increment_Counter</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_contacts</name>
        <label>Create a contacts</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Increment_Count1</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Deletion_of_Three_Contacts</name>
        <label>Deletion of Three Contacts</label>
        <locationX>1458</locationX>
        <locationY>1355</locationY>
        <inputReference>ContactsCollection</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>get_contacts</name>
        <label>get contacts</label>
        <locationX>952</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NumberOfEmployees</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contactdata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>count1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record__Prior.NumberOfEmployees</elementReference>
        </value>
    </variables>
    <variables>
        <name>count2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.NumberOfEmployees</elementReference>
        </value>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>getdata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfEmployees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.NumberOfEmployees</elementReference>
        </value>
    </variables>
    <variables>
        <name>storeColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>storeContactdata</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
